@{
    ViewData["Title"] = "Administration - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SonOfCod.Models.MailingList
<h2>Newsletter - Recipients</h2>
<hr />
@if(User.Identity.IsAuthenticated)
{
    <p>@Html.ActionLink("View all Recipients", "Recipients", "Marketing")</p>
}
else
{    
    @using (Html.BeginForm())
    {
        @Html.LabelFor(model => model.FirstName)
        @Html.EditorFor(model => model.FirstName)<br />

        @Html.LabelFor(model => model.LastName)
        @Html.EditorFor(model => model.LastName)<br />

        @Html.LabelFor(model => model.Email)
        @Html.EditorFor(model => model.Email)<br />

        @Html.LabelFor(model => model.Interests)
        @Html.EditorFor(model => model.Interests)<br />
        <input type="submit" value="SignUp" />
    }
}
